.legal-cont{
	width: 100%;
	display: flex;
	justify-content: center;
}

.legal-cont>div{
	width: 50%;
}

.legal-cont>div>*{
	margin-bottom: 1rem;
}

.legal-cont a{
	color: lightblue;
	text-decoration: underline;
}