.Scoreboardcont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Scoreboardcont>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Scoreboardcont>p{
    font-size: 3rem;
}